.wrapper {
    width: 375px;
    height: 100%;
    border: blueviolet solid 3px;
    border-radius: 35px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 5%;
    overflow: hidden;
}


@media screen and (max-width: 1920px) {
    .wrapper {
        height: 93%;
    }
}

@media screen and (max-width: 426px) {
    .wrapper {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
}

.wrapper_loader {
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(49, 51, 58, 0.66) !important;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 25px 25px;
}

.displayNone {
    display: none;
}

.confirm{
    margin: 5px;
    border-radius: 10px;
    color: #fff;
    border: none;
    min-width: 40px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 22px;
    background-color: #fe540e;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    font-weight: bolder;
}
