@import "react-slideshow-image/dist/styles.css";

.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100%;
}

.slider-styles {
    background: white !important;
}

.indicator {
    cursor: pointer;
    margin: 3px;
    text-align: center;
    border: 1px #666 solid;
    margin: 0;
}

.indicator.active {
    color: #fff;
}

.slider {
    /*margin-top: 6rem;*/
    width: 100%;
    height: 50%;
}

.img {
    height: 200px;
    width: 300px;
    justify-self: center;
    border-radius: 1.7rem;
}

.main {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1920px){
    .main {
        display: flex;
        justify-content: center;
        margin-left: 1px;
    }
}

@media screen and (max-width: 775px) {
    .slider {
        position: relative;
        top: -30px;
    }
}


@media screen and (max-width: 426px) {
    .slider {
        top: -30px;
    }
}

@media screen and (max-width: 321px) {
    .slider {
        top: -20px;
    }
}