.main {
    width: 375px;
    height: 70px;
    margin-bottom: 15px;
    border-bottom: blue 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 45px;
    height: 45px;
}

.modalButton {
    width: 40px;
    height: 40px;
}

.flex {
    display: flex;
}

.logoBell {
    height: 60px;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 150px;
    background-color: rgba(255,81,27);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: none;
    line-height: 1.125rem;
    opacity: 95%;
}

.button:hover {
    cursor: pointer;
}

.title {
    align-self: center;
    margin-left: 9px;
    font-weight: bold;
    font-size: 15px;
}


@media screen and (max-width: 426px) {
    .main {
        width: 100%;
    }
    .title {
        padding-left: 5px;
    }
}

@media screen and (max-width: 376px) {
    .main {
        height: 85px;
    }
    .title {
        padding-left: 5px;
    }
}

@media screen and (max-width: 340px){
    .main {
        height: 80px;
    }
    .title {
        /*align-self: center;*/
        /*font-size: 30px;*/
        /*padding-left: 0.5px;*/
        display: none;
    }
    .button {
        margin-right: 20px;
    }
    .modalButton {
        margin-right: 1.7rem;
    }
    .img {
        margin-left: 2.5rem;
    }
}
