.main {
    width: 375px;
    height: 65px;
    margin-bottom: 15px;
    border-bottom: blue 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 45px;
    height: 45px;
}

.modalButton {
    width: 40px;
    height: 40px;
}

.flex {
    display: flex;
}

.logoBell {
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    border-radius: 0.5rem;
    background-color: #fe540e;
    color: white;
    border: none;
    font-weight: bold;
}

.shop {
    display: flex;
}

.icon {
    align-self: center;
    background-color: #fe540e;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 1.2rem;
    font-size: 20px;
    font-weight: bold;
}

.icon:hover {
    cursor: pointer;

}

.title {
    align-self: center;
    margin-left: 9px;
    font-weight: bold;
    font-size: 15px;
}


@media screen and (max-width: 426px) {
    .main {
        width: 100%;
    }

    .title {
        padding-left: 5px;
    }
}

@media screen and (max-width: 376px) {
    .main {
        height: 85px;
    }

    .title {
        padding-left: 5px;
    }
}

@media screen and (max-width: 340px) {
    .main {
        height: 80px;
    }

    .title {
        /*align-self: center;*/
        /*font-size: 30px;*/
        /*padding-left: 0.5px;*/
        display: none;
    }

    .button {
        margin-right: 20px;
    }

    .modalButton {
        margin-right: 1.7rem;
    }

    .img {
        margin-left: 2.5rem;
    }

    .icon {
        margin-right: 2rem;
    }
}
