.main {
    padding: 1rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    margin-left: 0.6rem;
}

@media screen and (max-width: 426px) {
    .main {
        margin-top: 8rem;
        margin-left: 1rem;
    }
}

.orders {
    border: 1px solid black;
    width: auto;
    display: flex;
    padding: 5px;
}

.done {
    font-weight: bold;
    padding-left: 67px;
}

.blockTable2 {
    width: 270px;
}
.blockTable1 {
    display: flex;
    justify-content: center;
}

.notDone {
    font-weight: bold;
    padding-left: 25px;
}



.numbersTrue_scroll {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 135px;
    overflow-y: auto;
    height: 185px;
}


.numbersFalse_scroll {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 135px;
    overflow-y: auto;
    height: 185px;
}


.true {
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
}

.selectedButton {
    background-color: red !important;
    border: 2px red solid;
}

.false {
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
}

.numbers {
    display: flex;
    flex-direction: column;
}

.table {
    display: flex;
}

.foodMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.food {
    width: 270px;
    height: 270px;
}

@media screen and (max-width: 426px) {
    .main {
        position: relative;
        top: -30px;
    }
}