
.main {
    display: flex;
    justify-content: center;
    margin-left: 0.5rem;
}

@media screen and (max-width: 426px) {
    .main {
        margin-top: 8rem;
    }
}

.orders {
    border: 1px solid black;
    width: auto;
    display: flex;
    padding: 5px;
    border-radius: 1rem;
}

.done {
    font-weight: bold;
    padding-left: 67px;
}

.blockTable2 {
    width: 270px;
}
.blockTable1 {
    display: flex;
    justify-content: center;
}

.notDone {
    font-weight: bold;
    padding-left: 25px;
}



.numbersTrue_scroll {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 20rem;
    /*column-gap: 15%;*/
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*overflow-y: auto;*/
    /*height: 100px;*/
    border-radius: 0 0 8px 8px;
    overflow-y: scroll;
}


.numbersFalse_scroll {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 133px;
    overflow-y: auto;
    height: 185px;
    border-radius: 0 0 8px 8px;
}

.true {
    margin: 5px;
    border-radius: 10px;
    border: 2px #fe540e solid;
    height: 80px;
    min-width: 80px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 22px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    font-weight: bolder;
}

.selectedButton {
    background-color: #fe540e;
    border: 2px  #fe540e solid;
    color: white;
    font-weight: bold;
}

.false {
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
}

.numbers {
    display: flex;
    flex-direction: row;
}

.table {
    display: flex;
}

.foodMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.food {
    width: 270px;
    height: 270px;
}



.check {
    display: flex;
    width: 135px;
    height: 20px;
    border-radius: 20px 20px 0 0;
    border: none;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: #fe540e;
    color: white;
    font-weight: bold;
}

.true:hover{
    background-color: #6c7e9f;
}
    