.main {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    margin-left: 0.1rem;
}

@media screen and (max-width: 426px) {
    .main {
        margin-top: 8rem;
        margin-right: 6.5px;
    }
}

.orders {
    border: 1px solid black;
    width: auto;
    display: flex;
    padding: 5px;
    border-radius: 1rem;
}

.done {
    font-weight: bold;
    padding-left: 67px;
}

.blockTable2 {
    width: 270px;
}
.blockTable1 {
    display: flex;
    justify-content: center;
}

.notDone {
    font-weight: bold;
    padding-left: 25px;
}



.numbersTrue_scroll {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 135px;
    overflow-y: auto;
    height: 185px;
    border-radius: 0 0 8px 8px;
}


.numbersFalse_scroll {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 135px;
    overflow-y: auto;
    height: 185px;
    border-radius: 0 0 8px 8px;
}

.true {
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
    display: flex;
}

.selectedButton {
    background-color: #fe540e;
    border: 2px  #fe540e solid;
    color: white;
    font-weight: bold;
}

.false {
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 50px;
}

.numbers {
    display: flex;
    flex-direction: column;
}

.table {
    display: flex;
}

.foodMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.food {
    width: 270px;
    height: 270px;
}



.check {
    display: flex;
    border: 1px solid black;
    width: 135px;
    height: 20px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    background-color: #fe540e;
}


.flex {
    display: flex;
    flex-direction: row;
}

table {
    font-size: 14px;
    text-align: center;
}
th {
    background: rosybrown;
    color: white;
}

td {
    text-align: center;
}
